@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Cocktail System Error.</h1>
<h3 class="text-danger">An error occurred while processing your request.</h3>
<br>
<br>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
        <br>
        <br>
        <strong>Detail from last action: </strong> <em>@Model.SenderMsg</em>  
        <br>
    </p>
}

<br>
<br>
<br>

<div class="form-group row">
        <div class="col-sm-10">            
            <a asp-page="/Cocktails" class="btn btn-primary">Return to Cocktail Summary</a>
        </div>
    </div>
