@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cocktails Application - Production Release July 2024</h1>
    <p>Hit the API directly! <a href="https://cocktail-api.azurewebsites.net/cocktails"></a>.</p>
</div>
