@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cocktails Application</h1>
        <p>Production Release</p>
        <p>July 2024</p>
    <p><a href="https://cocktail-api.azurewebsites.net/cocktails">Hit the API directly!</a></p>
</div>

<environment include="Development">
    <div>Environment is Development</div>
</environment>
<environment exclude="Development">
    <div>Environment is NOT Development</div>
</environment>
